<tr>
  <td class="product-table-add">
    <form action="/cart/add" method="post" class="variants" id="product-actions" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ variant.id }}" />
      <button class="btn btn-mini add-to-cart" type="button" name="add" data-id="{{ variant.id }}" data-sku="{{ variant.sku | escape}}" data-name="{% include 'product-name-for-add-to-cart' %}">
        <i class="icon-shopping-cart" data-id="{{ variant.id }}" data-sku="{{ variant.sku | escape }}" data-name="{% include 'product-name-for-add-to-cart' %}"></i>
      </button>
    </form>
  </td>
  <td class="product-table-price">{{ variant.price | money }}</td>
  <td class="product-table-sku">{{ variant.sku }}</td>
  <td class="product-table-name">
    {% if product.options[0] == 'Style' %}
      {{ variant.option2 }}
      {% if variant.option3 != 'Default Subtitle' %}
        <div class="subtitle">{{ variant.option3 }}</div>
      {% endif %}
    {% else %}
      {% if variant.option1 != 'Default Title' and variant.option1 != product.title %}
        {{ variant.option1 }}
      {% endif %}
      {% if variant.option2 != 'Default Subtitle' %}
        <div class="subtitle">{{ variant.option2 }}</div>
      {% endif %}
    {% endif %}
  </td>
</tr>
