<h1>Shopping Cart</h1>

{% if cart.item_count > 0 %}

<form action="/cart" method="post">
  <input type="hidden" name="attributes[weight]" value="{{ cart.total_weight | weight_with_unit }}" />

  {% assign collection_url = cart.items.first.product.collections.first.url %}
  {% if collection_url == '/collections/frontpage' or collection_url == '' %}
    {% assign collection_url = '/collections/benchmark-butterfly-bookmounts' %}
  {% endif %}


  <a class="btn" href="{{ collection_url }}">Continue shopping</a>
  <span class="or">or</span>
  <input class="btn" type="submit" name="update" value="Update cart" />
  <span class="or">or</span>
  <input class="btn" type="submit" name="checkout" value="Check out" />

  <table class="table">

    <thead>
      <tr>
        <th class="cart-item">Item</th>
        <th class="cart-price">Price</th>
        <th class="cart-quantity">Quantity</th>
        <th class="cart-total">Total</th>
        <th class="cart-remove">&nbsp;</th>
      </tr>
    </thead>

    <tbody>

    {% for item in cart.items %}

      {% comment %}
      Determining the handle of the collection that was last seen for the 'continue shopping' link.
      {% endcomment %}

      <tr>
        <td class="cart-item">
          <a href="{{ item.product.collections[0].url }}#{{ item.product.handle }}">
            {{ item.product.title }}:
            {% if item.product.options[0] == 'Title' %}
                {{ item.variant.option1 | escape }}
            {% elsif item.product.options[1] == 'Title' %}
                {{ item.variant.option1 | escape }}: {{ item.variant.option2 | escape }}
            {% else %}
                {{ item.variant.title }}
            {% endif %}
          </a>
          {% comment %}
          Line Item Properties
          {% endcomment %}
          {% if item.properties.size > 0 %}
          <p>
            {% for p in item.properties %}
              {% unless p.last == blank %}
                {{ p.first }}:
                {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                {% else %}
                  {{ p.last }}
                {% endif %}
                <br />
              {% endunless %}
            {% endfor %}
          </p>
          {% endif %}
        </td>
        <td class="cart-price">{{ item.price | money }}</td>
        <td class="cart-quantity">
          <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
        </td>
        <td class="cart-total">{{ item.line_price | money }}</td>
        <td class="cart-remove">
          <a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
        </td>
      </tr>
    {% endfor %}

    </tbody>

  </table>

  {% comment %}
  For the checkout and update buttons to work, they need to use
  a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
  {% endcomment %}

  <div id="subtotal">
    <h3>Subtotal <em>{{ cart.total_price | money }}</em></h3>
    <a class="btn" href="{{ collection_url }}">Continue shopping</a>
    <span class="or">or</span>
    <input class="btn" type="submit" name="update" value="Update cart" />
    <span class="or">or</span>
    <input class="btn" type="submit" name="checkout" value="Check out" />
    {% comment %}Paypal and Google checkout buttons{% endcomment %}
    {% if additional_checkout_buttons %}
    <p class="additional-checkout-buttons">
      {{ content_for_additional_checkout_buttons }}
    </p>
    {% endif %}
  </div>

  {% comment %}
  For the special instructions to be submitted with order,
  they need to use a name attribute set to 'note'. That's case-sensitive.
  {% endcomment %}
  <div>
    <p>Special instructions for seller</p>
    <textarea name="note">{{ cart.note }}</textarea>
  </div>

</form>

{% else %}

<div>
  <h2>It appears that your cart is currently empty!</h2>
  <h3>You can continue browsing <a href="/collections/benchmark-butterfly-bookmounts">here</a>.</h3>
</div>

{% endif %}
