<div id="add-to-cart-modal" class="modal hide fade" tabindex='-1'>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Add to cart</h3>
  </div>
  <div class="modal-body">
    <div id="add-to-cart-errors">
    </div>
    <form action="/" method="post" id="add-to-cart-form">
      <input name="sku" type="hidden" value="">
      <input name="id" type="hidden" value="">
      Adding <input name="number" type="number" value="1" min="1">
      <span class="product">widgets</span>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" form="add-to-cart-form">Add to cart</button>
  </div>
</div>

<div id="col-main" class="{{ collection.handle }}">

  <section class="diagonal-divider clearfix">
    <header class="section-details clearfix">
      <h2 class="section-title">{{ collection.title }}</h2>
      {% if collection.description != empty %}
        <div class="description content">{{ collection.description }}</div>
      {% endif %}
    </header>

    {% for product in collection.products %}
      <h3 id="{{ product.handle }}" class="product-title{% if product.vendor == 'bug' %} benchmark-exclusive{% endif %}">
      {% if product.vendor == 'bug' %}
        <img src="{{ 'logo.png' | asset_url }}" alt="logo" title="logo" class="benchmark-exclusive-logo">
      {% endif %}
        {{ product.title }}
        {% case product.title %}
          {% when 'Polyethylene Strap' %}
            <div class="product-links">
              <a class="tip-link" href="/pages/tip-poly-strap-uses">TIP</a>
              <a href="/pages/polyethylene-strap-oddy-test-results">Oddy test results</a>
            </div>
          {% when 'Sueded Polyethylene' %}
            <div class="product-links">
              <a href="/pages/sueded-polyethylene-padding-oddy-test-results" title="sueded polyethylene padding Oddy test">Oddy test results</a>
            </div>
          {% when 'Polyolefin 2:1 Heat-shrink Tubing' %}
            <div class="product-links">
              <a class="tip-link" href="/pages/tip-heat-shrink-tubing">TIP</a>
              <a href="/pages/polyolefin-2-1-heat-shrink-tubing-oddy-test-results" title="polyolefin 2:1 heat shrink tubing Oddy test">Oddy test results</a>
            </div>
          {% when 'Felt' %}
            <div class="product-links">
              <a class="tip-link" href="/pages/tip-cutting-felt">TIP</a>
              <a href="/pages/oddyfelt" title="felt Oddy test">Oddy test results</a>
            </div>
          {% when 'Felt Tapes' %}
            <div class="product-links">
              <a href="/pages/felt-tape-oddy-test-results-white-and-black" title="felt tape Oddy test">Oddy test results</a>
            </div>
          {% when 'Flannel' %}
            <div class="product-links">
              <a href="/pages/muslin-and-flannel-oddy-test-results" title="muslin and flannel Oddy test">Oddy test results</a>
            </div>
          {% when 'Muslin' %}
            <div class="product-links">
              <a href="/pages/muslin-and-flannel-oddy-test-results" title="muslin and flannel Oddy test">Oddy test results</a>
            </div>
          {% when 'Polyester Stockinette' %}
            <div class="product-links">
              <a href="/pages/white-stockinette-oddy-test-results" title="white stockinette Oddy test">White Oddy test results</a>
              <a href="/pages/black-stockinette-oddy-test-results" title="black stockinette Oddy test">Black Oddy test results</a>
            </div>
          {% when 'Linens' %}
            <div class="product-links">
              <a href="/pages/linen-fabric-oddy-test-results" title="linen Oddy test">Oddy test results</a>
            </div>
          {% when 'Plain Weave Fabric' %}
            <div class="product-links">
              <a href="/pages/plain-weave-oddy-test-results" title="plain weave Oddy test">Oddy test results</a>
            </div>
          {% when 'Teflon TFE 4:1 Heat-shrink Tubing' %}
            <div class="product-links">
              <a href="/pages/tfe-teflon-4-1-heat-shrink-tubing-oddy-test-results" title="teflon 4:1 Oddy test">Oddy test results</a>
            </div>
          {% when 'Headless Stainless Steel Pins' %}
            <div class="product-links">
              <a class="tip-link" href="/pages/tip-pin-padding" title="padding suggestions for pins">TIP</a>
            </div>
          {% when 'Tiny Drill Bits' %}
            <div class="product-links">
              <a class="tip-link" href="/pages/tip-drill-bit" title="drill bit tip">TIP</a>
            </div>
          {% when 'Drill Gauges' %}
            <div class="product-links">
              <a class="tip-link" href="/pages/tip-use-of-drill-gauges-for-drilling" title="another good use for gauges">TIP</a>
            </div>
          {% when 'Pinning Pliers' %}
            <div class="product-links">
              <a class="tip-link" href="/pages/tip-pinning-pliers" title="how to use pinning pliers">TIP</a>
            </div>
        {% endcase %}
      </h3>

      <div class="description content">
        {{ product.description }}
      </div>

      {% if product.options[0] != 'Style' %}
        <table class="products">
          <tbody>
      {% endif %}
        {% assign current_subcategory = '' %}
        {% for variant in product.variants %}
          {% if product.options[0] == 'Style' and variant.option1 != current_subcategory %}
            {% if current_subcategory != '' %}
            </tbody>
            </table>
            {% endif %}
            {% assign current_subcategory = variant.option1 %}
            <h4>
              {% case current_subcategory %}
              {% when 'Just the Plates' %}
                Just Quarter-turn plates with which to convert your "regular" Horizontal Butterfly Bookmount:
              {% when 'Complete Bookmount' %}
                {% case product.title %}
                  {% when 'Quarter-Turn Display' %}
                    Or, the "Complete" Quarter-turn for when you have no "regular" Horizontals to convert over.
                  {% when 'Cover-Only Display' %}
                    Or, the "Complete" Cover-Only for when you have no "regular" Upright to convert
                {% endcase %}
              {% when 'Just the Plate and Brass Fitting' %}
                Just a Cover-Only plate &amp; brass fitting to convert your "regular" Upright Butterfly Bookmount
              {% when 'Almond blend' %}
                Almond, 51% linen + 49% cotton, 55" w.
              {% when 'Black' %}
                {% if product.title == 'Linens' %}
                  Black, 100% linen, 60" w.
                {% else %}
                  {{ current_subcategory }}
                {% endif %}
              {% when 'Oatmeal blend' %}
                Oatmeal, 60% linen + 40% cotton, 58" w.
              {% when 'Oatmeal' %}
                Oatmeal, 100% linen, 60" w.
              {% when 'Oyster' %}
                Oyster, 100% linen, 60" w.
              {% when 'Natural Wheat' %}
                Natural Wheat, 100% linen, 55" w.
              {% else %}
                {{ current_subcategory }}
              {% endcase %}
            </h4>
            <table class="products">
            <tbody>
            {% include 'sku-row' %}
          {% else %}
            {% include 'sku-row' %}
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    {% endfor %}
  </section>

</div> <!-- /#col-main -->
